{% extends 'base.html' %}
{% load static %}
{% block body%}
    <!-- slider_area_start -->


                        <div class="slider_text">
                            <div class="logo">
                                    <a href="index.html">
                                        <img style="height:150px" src="{% static 'img/smartmovess2.png'' %}" alt="">
                                    </a>
                                </div>

                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                <a href="/smartmovess/uploadResume" class="boxed-btn3">Upload your Resume</a>
                            </div>
                            <br>
                           <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Make a smart move with us today</p>
                        </div>
    <!-- slider_area_end -->
{% endblock %}